#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo2 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo2:hover {
  filter: none;
}

.logo2.react:hover {
  filter: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo2 {
    animation: none;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
